<main>
    <div id="home">
        <ul class="posts">
        {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
        {{ range $paginator.Pages }}
            <li itemscope itemtype="//schema.org/BlogPosting">
                <a href="{{ .Permalink }}" itemprop="url">
                    <div class="p-wrap">
                      <p itemprop="name headline">
                        <span class="baffle date-attr">{{ .Date.Format "02 Jan 2006" }}</span>
                        <span class="baffle class-attr">=></span>
                        <span class="baffle">{{ .Title }}</span>
                      </p>
                    </div>
                </a>
            </li>
        {{ end }}
        </ul>
    </div>
</main>
